@font-face{
	font-family:police1;
	src:url(OpenSans-Semibold.ttf);
}

div{margin-top:35px;
margin-bottom:35px;}

.bouton{text-align:center;
		height:5px;
		width:5px;}

form{font-family:police1;
		font-size:20px;
		margin:10px;
	}
	
p{	
	font-size:18px;
}	
		
header{font-size:40px;
		color:white;
		background-color:black;
		text-align:center;
		margin:10px;
		border:solid;
	}
	
input{height:20px;
	width:210px;
	}
